#math {
    position: absolute;
    background-color: #5a5a5a;
    width:500px;
    height:600px;
    border:1px solid #00F;
    z-index: 4;
}
#mathContent{
    text-align: center;
    background-color: white;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
}
#mathHelp{
    margin-top: 5%;
    text-align: center;
}
#mathAnswer{
    margin-top: 5%;
    text-align: center;
}